<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>WindowsとMacのpath変換</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Win-mac-path-converter</h1>
      <p>WindowsとMacのpath変換</p>

      <p class="view">
        <a href="https://github.com/keyiiiii/win-mac-path-converter">
          View the Project on GitHub
          <small>keyiiiii/win-mac-path-converter</small>
        </a>
      </p>

      <ul>
        <li>
          <a href="https://github.com/keyiiiii/win-mac-path-converter/zipball/gh-pages">
            Download <strong>ZIP File</strong>
          </a>
        </li>
        <li>
          <a href="https://github.com/keyiiiii/win-mac-path-converter/tarball/gh-pages">
            Download <strong>TAR Ball</strong>
          </a>
        </li>
        <li>
          <a href="https://github.com/keyiiiii/win-mac-path-converter">
            View On
            <strong>GitHub</strong>
          </a>
        </li>
      </ul>
    </header>
    <section>
      <h3>MacとWindowsのファイルパスを相互変換</h3>

      <div ng-controller="ConvertCtrl" ng-cloak>

        <p ng-if="error" class="red">ファイルパスが入力されていません。</p>

        <form>
          <input type="text" ng-model="text" class="input-form" placeholder="変換したいファイルパス入力してください" required autofocus>
          <button type="submit" ng-click="convertBtn()">変換</button>
        </form>

        <pre class="mt20 fs18" ng-if="path">{{path}}</pre>

      </div>

    </section>
    <footer>
      <p>
        This project is maintained by
        <a href="https://github.com/keyiiiii">keyiiiii</a>
      </p>
      <p>
        <small>
          Hosted on GitHub Pages &mdash; Theme by
          <a href="https://github.com/orderedlist">orderedlist</a>
        </small>
      </p>
    </footer>
  </div>
  <script src="javascripts/scale.fix.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
  <script src="javascripts/app.js"></script>
  <!-- <script src="javascripts/convert.js"></script> -->

</body>
</html>